<html lang="en">

<head>
    <title>webapp - Tables</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/css/eventeditormain.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
</head>

<body>
    <div class="webapp-container">
        <!-- HEADER -->
        <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="/">
                UniFace
            </a>
        </nav>
        <!-- FIN HEADER -->


        <!-- MENU LATERAL -->
        <div class="webapp-sidebar expand-hover push" id="sidebar">
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item">
                        <a href="/views/eventeditor.html" class="sidebar-nav-link">
                            <span class="sidebar-nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-align-justify">
                                    <line x1="21" y1="10" x2="3" y2="10"></line>
                                    <line x1="21" y1="6" x2="3" y2="6"></line>
                                    <line x1="21" y1="14" x2="3" y2="14"></line>
                                    <line x1="21" y1="18" x2="3" y2="18"></line>
                                </svg>
                            </span>
                            <span class="sidebar-nav-name">
                                Editor Visual de Eventos
                            </span>
                            <span class="sidebar-nav-end">
    
                            </span>
                        </a>
                    </li>
    
                    <li class="sidebar-nav-item">
                        <a href="/views/entityeditor.html" class="sidebar-nav-link">
                            <span class="sidebar-nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-edit">
                                    <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path>
                                    <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                                </svg>
                            </span>
                            <span class="sidebar-nav-name">
                                Editor de Entidades
                            </span>
                            <span class="sidebar-nav-end">
    
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- FIN MENU LATERAL -->


        <!-- CONTENIDO CENTRAL -->
        <div class="webapp-content">
            <div class="webapp-main-content">
                <div class="container-fluid">
                    <div class="pb-3">
                        <h1>Editor Visual de Eventos</h1>
                    </div>

                    <!-- EVENTOS -->
                    <div class="card mb-grid">
                        <div class="table-responsive-md">
                            <table class="table table-actions table-striped table-hover mb-0">
                                <tbody>
                                    <tr class="condition-el">
                                        <td class="low-padding"></td>
                                        <td>
                                            <span class="badge badge-pill condition-action-el badge-primary">Personaje</span>
                                            <span class="badge badge-pill condition-action-el badge-success">Colisiona
                                                con</span>
                                            <span class="badge badge-pill condition-action-el badge-primary">Enemigo</span>
                                        </td>
                                        <td class="low-padding">
                                            <button class="btn btn-small oi oi-pencil"></button>
                                            <button class="btn btn-small oi oi-trash"></button>
                                        </td>
                                    </tr>
                                    <tr class="condition-el">
                                        <td class="low-padding">
                                            <button class="btn btn-small oi oi-fullscreen-exit"></button>
                                        </td>
                                        <td>
                                            <span class="badge badge-pill condition-action-el badge-success">Presionar
                                                tecla</span>
                                            <span class="badge badge-pill condition-action-el badge-primary">Barra
                                                espaciadora</span>
                                        </td>
                                        <td class="low-padding">
                                            <button class="btn btn-small oi oi-pencil"></button>
                                            <button class="btn btn-small oi oi-trash"></button>
                                        </td>
                                    </tr>
                                    <tr class="condition-el">
                                        <td class="low-padding">
                                            <button class="btn btn-small oi oi-flag"></button>
                                        </td>
                                        <td>
                                        </td>
                                        <td class="low-padding">
                                        </td>
                                    </tr>
                                    <tr class="action-el">
                                        <td class="low-padding">
                                        </td>
                                        <td>
                                            <span class="badge badge-pill condition-action-el badge-danger">Destruir</span>
                                            <span class="badge badge-pill condition-action-el badge-primary">Personaje</span>
                                        </td>
                                        <td class="low-padding">
                                            <button class="btn btn-small oi oi-pencil"></button>
                                            <button class="btn btn-small oi oi-trash"></button>
                                        </td>
                                    </tr>
                                    <tr class="action-el">
                                        <td class="low-padding">

                                        </td>
                                        <td class="low-padding">
                                            <span class="badge badge-pill condition-action-el badge-primary">Enemigo</span>
                                            <span class="badge badge-pill condition-action-el badge-danger">Fijar nuevo
                                                valor a variable</span>
                                            <span class="badge badge-pill condition-action-el badge-primary">Energia</span>
                                            <span class="badge badge-pill condition-action-el badge-danger">=</span>
                                            <span class="badge badge-pill condition-action-el badge-primary">Personaje.Energia
                                                - 2</span>
                                        </td>
                                        <td class="low-padding">
                                            <button class="btn btn-small oi oi-pencil"></button>
                                            <button class="btn btn-small oi oi-trash"></button>
                                        </td>
                                    </tr>
                                    <tr class="action-el">
                                        <td class="low-padding">
                                            <button class="btn btn-small oi oi-pulse"></button>
                                        </td>
                                        <td>
                                        </td>
                                        <td class="low-padding">
                                        </td>
                                    </tr>
                                    <tr class="new-event-el">
                                        <td class="low-padding">
                                            <button class="btn btn-small oi oi-plus" data-toggle="modal" data-target="#conditionActionModal"></button>
                                        </td>
                                        <td>
                                        </td>
                                        <td class="low-padding">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- FIN EVENTOS -->


                    <!-- MODAL SELECTOR DE CONDICIONES/ACCIONES -->
                    <div class="modal fade" id="conditionActionModal" tabindex="-1" role="dialog" aria-labelledby="conditionActionModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="conditionActionModalLabel">Editor de Condiciones</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card mb-grid">
                                        <div class="table-responsive-md">
                                            <table class="table table-actions table-striped table-hover mb-0">
                                                <tbody>
                                                    <tr class="action-el">
                                                        <td class="low-padding">
                                                            <span class="badge badge-pill condition-action-el badge-primary">Sistema</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr class="action-el">
                                                        <td class="low-padding">
                                                            <div class="dropdown">
                                                                <span class="badge badge-pill condition-action-el badge-primary dropdown-toggle"
                                                                    id="dropdownMenuButtonPersonaje" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">Personaje</span>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonPersonaje">
                                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                                        data-target="#expressionModal">Cuando la
                                                                        posición X tiene cierto valor</a>
                                                                    <a class="dropdown-item" href="#">Cuando la
                                                                        posición Y tiene cierto valor</a>
                                                                    <a class="dropdown-item" href="#">Cuando la
                                                                        posición Z tiene cierto valor</a>
                                                                    <a class="dropdown-item" href="#">Cuando el valor
                                                                        de un atributo tiene cierto valor</a>
                                                                    <a class="dropdown-item" href="#">Al colisionar con
                                                                        una instancia de otra entidad</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr class="action-el">
                                                        <td class="low-padding">
                                                            <span class="badge badge-pill condition-action-el badge-primary">Enemigo</span>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN MODAL SELECTOR DE CONDICIONES/ACCIONES -->


                    <!-- MODAL EDITOR DE EXPRESIONES -->
                    <div class="modal fade" id="expressionModal" tabindex="-1" role="dialog" aria-labelledby="expressionModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="conditionActionModalLabel">Editor de Expresiones</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="form-label" for="exampleInputExpression">Seleccione operador</label>
                                        <div class="form-group">
                                            <div class="dropdown">
                                                <input class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonOperator"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    value="EQ">
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonOperator"
                                                    id="dropdownMenuButtonOperator" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <a class="dropdown-item" href="#">GT</a>
                                                    <a class="dropdown-item" href="#">GE</a>
                                                    <a class="dropdown-item" href="#">EQ</a>
                                                    <a class="dropdown-item" href="#">LE</a>
                                                    <a class="dropdown-item" href="#">LT</a>
                                                    <a class="dropdown-item" href="#">NE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="exampleInputExpression">Ingrese expresión</label>
                                        <input class="form-control" id="exampleInputExpression">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN MODAL EDITOR DE EXPRESIONES -->


                </div>
            </div>
        </div>
        <!-- FIN CONTENIDO CENTRAL -->


    </div>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</body>

</html>